@font-face {
    font-family: 'lumos';
    src: url('../../LUMOS.TTF') format('truetype'), url('../../LUMOS.woff') format('woff');
}

$font-stack: lumos;

@mixin buttons {
    button {
        margin: 10px;
        border-radius: 5px;
        font: 100% $font-stack;
        background-color: rgb(56, 34, 5);
        border: 1px solid rgb(184, 155, 117);
        color: rgb(184, 155, 117);
    }

    button:hover {
        background-color: rgb(184, 155, 117);
        border: 1px solid rgb(56, 34, 5);
        color: rgb(56, 34, 5);
    }
}

.edit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 100% $font-stack;
    margin: auto;
    border: 2px solid rgb(56, 34, 5);
    background-color: rgb(184, 155, 117);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin-top: 20px;
    
    h1 {
        font-size: larger;
        font-weight: bold;
    }

    @include buttons;
}

.edit-inputs {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    width: 100%;

        input {
            width: 90%;
        }
}

.edit-desc-input {
    width: 90%;
}