@font-face {
    font-family: 'lumos';
    src: url('../../LUMOS.TTF') format('truetype'), url('../../LUMOS.woff') format('woff');
}

$font-stack: lumos;

.dashboard-nav-container {
    height: 125px;
    background-color: rgb(80, 76, 76);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

        button {
            font: 100% $font-stack;
            margin: 10px;
            font-size: 30px;
            border-radius: 5px;
        }
}