@font-face {
    font-family: 'lumos';
    src: url('../../LUMOS.TTF') format('truetype'), url('../../LUMOS.woff') format('woff');
}

$font-stack: lumos;

.dashboard-main-container {
    background-image: url('../../diagonalleywash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    padding-top: 125px;
}

.dashboard-nav-container {
    height: 125px;
    background-color: rgb(56, 34, 5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;

        button {
            font: 100% $font-stack;
            margin: 10px;
            font-size: 30px;
            border-radius: 5px;
        }
}